body{
    background-image: url('/assets/Background.png');
    background-repeat: no-repeat;
    background-size: cover;
    font-family:'Courier New', Courier, monospace;
}

.mainImg{
    background-image: url(/assets/pokeball-pokemon-catch.svg);
    background-repeat: no-repeat;
}

.moveList{
    height: 150px;
    max-height: 150px;
    overflow: scroll;
}

.infoBox{
    grid-column: 2/4;
    background-color: rgba(255, 255, 255, 0.463);
}

.background{
    background-color: rgba(255, 255, 255, 0.463);
}

.topBar{
    background-color: #40B2AE;
    padding: 10px;
}

#family > img{
    width: 150px;
}
#family > img:hover{
    opacity: 80%;
}

input{
    background-color: rgba(255, 255, 255, 0.463);
    height: 40px;
    width: 85%;
    text-align: center;
}
.savedBtn{
    grid-column: 3/4;
}
#savedBtn{
    height: 40px;
}
#savedBtn:hover{
    opacity: 80%;
}

.searchBar{
    display: flex;
    align-items: center;
}
.searchBtn{
    background-color: #40B2AE;
    height: 40px;
    width: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.searchBtn:hover{
    opacity: 80%;
}

.randomBtn{
    background-color: #F5AD1A;
}

#shiny:hover{
    opacity: 60%;
}
#audioOn:hover{
    opacity: 60%;
}

#savedPokemon{
    height: 40px;
}
#savedPokemon:hover{
    opacity: 60%;
}

.dropdownContent {
    display: none;
    position: absolute;
    overflow: auto;
    right: 0;
    top: 9.5%;
    width: 350px;
    max-width: 400px;
  }

  .topBarSaved{
    background-color: #F5AD1A;
    padding: 10px;
}

.removePokemon{
    padding-left: 20px;
}

#savedList{
    max-height: 150px;
    overflow: scroll;
    font-size: 20px
}